@{
    ViewBag.Title = "Result";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message Ω, +- @ViewBag.tol%</h3>
<br/><br />
<p>This calculator is designed to calculate the ohm value. Users can select the 4 band colors to find the final ohm value.</p>
